@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body {
	font-family: Quicksand;
	background-color:#edefe4;
	}img{
	position: relative;
	top: -27px;
	height: 100px;
	width: 200px;
	
	
}header {
	position: relative;
	top: 17px;
	left: 2px;
	right: -2px;
	background-color: black;
	color: #E3E3DC;
	padding: 20px 150px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	border-radius: 90px;
	height: 80px;
	width: auto;
	
	}header a {
	text-decoration: none;
	font-size: 30px;
	color: #E3E3DC;
		}.menu-header {
		display: flex;
		gap: 35px;
		align-items: center;
			}.menu-header button {
			border: none;
			background: none;
			outline: none;
			width: 45px;
			height: 45px;
			color: #E3E3DC;
			font-size: 22px;
			position: relative;
			cursor: pointer;
				}.Contact{
					font-size: 20px;
				}.menu-header button:hover {
				transform: scale(1.05);
        }.section1{
        position: absolute;
        left: 20px;
        right: 20px;
        top: 370px;
        bottom: 245px;
        z-index: 12;
        background: #EDEFE4;
        display: flex;
        border-radius: 45px;
        }.articulos1 {
            position: relative;
            background-color: #E3E3DC;
            padding: 20px;
            border-radius: 5px;
        }
        
        .article1 {
            position: relative;
            z-index: 2;
            background-color: #E3E3DC;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-size: 60px;
        }
        
        .navegacion1 {
            position: relative;
            z-index: 1;
            font-size: 20px;
        }
        .aside {
            background-color: #E3E3DC;
            padding: 20px;
            border-radius: 5px;
            font-size: 20px;
        }.section2{
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        z-index: 12;

        display: flex;
        border-radius: 45px;
        }h1{
            font-size: 100px;
            color: #45B39D;
        }.articulos2{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;
            }.article2{
                font-size: 40px;
                flex: 1 1 40%;
            }.navegacion2{
                font-size: 40px;
                flex: 1 1 100%;
            }.article2:hover{
                color: white ;
            }.article2{
                color: black;
            }.aside{
            flex: 1 1 auto;
            }.Whatsapp{
                position: fixed;
                left: 1;
                right: 30px;
                bottom: 30px;
                z-index: 12;
                }.fa-solid:hover{
                    color: #45B39D ;
                }.fa-solid{
                    color: white;
                }.vin{
                    color: white;
                    font-size: 25px;
                }.vin:hover{
                    color: #45B39D;
                }.fa-brands{
                    color: black;
                    font-size: 80px;
                }.fa-brands:hover{
                    color: #45B39D;
    }@media (max-width:1366px){
    .menu{
        height: auto;
    }.User{
        flex: 0.2 1 auto;
    }.section{
        top: 120px;
        bottom: 250px;
        height: 210px;
    }h1{
        font-size: 80px;
    }.article{
        font-size: 30px;
    }.navegacion{
        font-size: 15px;
    }.section1{
        top: 350px;
        bottom: 250px;
        height: 420px;
    }.article1{
        font-size: 30px;
    }.navegacion1{
        font-size: 15px;
    }.aside{
        flex-direction: column;
    }.publicidad{
        font-size: 15px;
    }.section2{
        top: 780px;
        height: 210px;
    }.article2{
        font-size: 15px;
    }.navegacion2{
        font-size: 30px;
    }
}@media (max-width:800px){
    .menu{
        flex-direction: column;
        height: auto;
    }.section{
        flex-direction: column;
    }
}@media(max-width:600px){
    .articulos{
        flex-direction: column;
    }
}